<mat-toolbar class="toolbar" color="primary">
  <span
    ><a routerLink="/">{{ title }}</a></span
  >
  <div class="spacer"></div>

  <ul class="right-menu">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a routerLink="/create" routerLinkActive="active">New Job</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-raised-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
<h3>{{ summary }}</h3>
