ul {
  list-style: none;
}
li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid white;
}
.toolbar {
  display: flex;
}
.spacer {
  flex: 1 1;
}
.right-menu {
  font-size: 1rem;
  display: flex;
  width: 20rem;
  justify-content: end;
}
.right-menu li {
  margin-left: 2rem;
}
.logout-link {
  cursor: pointer;
}
.right-menu a:hover {
  border-bottom: 1px solid white;
}
.subtitle {
  text-align: center;
  margin-top: 1rem;
}
