ul {
  list-style: none;
}
li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid white;
}
.toolbar {
  display: flex;
}
.spacer {
  flex: 1 1;
}
.right-menu {
  display: none;
}
.right-menu li {
  margin-left: 2rem;
}
.logout-link {
  cursor: pointer;
}
.right-menu a:hover {
  border-bottom: 1px solid white;
}
.subtitle {
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .right-menu {
    display: flex;
    width: 20rem;
    justify-content: end;
    font-size: 1rem;
  }
}
