<h3>Jobs List</h3>
<h3 *ngIf="isLoading">Loading</h3>
<ul *ngIf="!isLoading">
  <p *ngIf="jobs.length === 0">No jobs listed, check back later.</p>

  <mat-card *ngFor="let job of jobs" class="jobs-list-container">
    <mat-card-header>
      <mat-card-title>{{ job.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ job.content }}</p>
      <img class="thumbnail" [src]="job.imagePath" [alt]="job.title" />
      <mat-card-actions *ngIf="isAuthenticated && userId === job.user">
        <a mat-raised-button [routerLink]="['edit', job.id]">Edit</a>
        <button mat-raised-button color="warn" (click)="onDelete(job.id)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-paginator
    *ngIf="jobs.length > 0"
    [length]="totalJobs"
    [pageSize]="jobsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</ul>
