.thumbnail {
  display: block;
  width: 100%;
}
.jobs-list-container {
  max-width: 30rem;
  margin: 0 auto;
}
.job-buttons {
  display: flex;
  justify-content: space-between;
}
.job-card {
  margin-bottom: 1rem;
}
