<h3>Jobs List</h3>
<h3 *ngIf="isLoading">Loading</h3>
<ul *ngIf="!isLoading">
  <p *ngIf="jobs.length === 0">No jobs listed, check back later.</p>
  <li *ngFor="let job of jobs">
    <a [routerLink]="['edit', job.id]">{{ job.title }}</a> - {{ job.content }}
    <br />
    <p><img class="thumbnail" [src]="job.imagePath" [alt]="job.title" /></p>
    <a [routerLink]="['edit', job.id]">Edit</a>
    <button (click)="onDelete(job.id)">Delete</button>
    <br /><br />
  </li>
  <mat-paginator
    *ngIf="jobs.length > 0"
    [length]="totalJobs"
    [pageSize]="jobsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</ul>
