<h3 *ngIf="isLoading"><mat-spinner></mat-spinner></h3>
<div *ngIf="!isLoading" class="jobs-list-container">
  <mat-card *ngIf="jobs.length === 0" class="message">
    <mat-card-header class="message"
      >No jobs listed, check back later.</mat-card-header
    >
  </mat-card>

  <mat-card *ngFor="let job of jobs" class="job-card">
    <mat-card-title class="job-headline">
      <h2>
        {{ job.headline }}
      </h2>
    </mat-card-title>
    <mat-card-subtitle class="job-subtitle">
      <span>Compensation: {{ job.compensation }}</span>
      <span>Start date: {{ job.startDate | date }}</span>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{ job.summary }}</p>
      <!-- <img class="thumbnail" [src]="job.imagePath" [alt]="job.title" /> -->

      <mat-card-actions class="job-buttons">
        <div *ngIf="isAuthenticated && userId === job.user">
          <a mat-raised-button [routerLink]="['edit', job.id]">Edit</a>
          <button mat-raised-button color="warn" (click)="onDelete(job.id)">
            Delete
          </button>
        </div>
        <div *ngIf="!isAuthenticated">
          <button mat-raised-button color="accent" (click)="openDialog()">
            Apply for this job
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-paginator
    *ngIf="jobs.length > 0"
    [length]="totalJobs"
    [pageSize]="jobsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</div>
