<h3>Register</h3>
<h3 *ngIf="isLoading">Loading</h3>
<form
  (submit)="onSubmit(registerForm)"
  #registerForm="ngForm"
  *ngIf="!isLoading"
>
  <div>
    <input
      type="email"
      name="email"
      ngModel
      placeholder="Email address"
      #emailInput="ngModel"
      required
      email
    />
    <br />
    <span *ngIf="emailInput.invalid">Please enter a valid email</span>
  </div>
  <div>
    <input
      type="password"
      name="password"
      ngModel
      placeholder="Password"
      #passwordInput="ngModel"
      required
      minlength="6"
    />
    <br />
    <span *ngIf="passwordInput.invalid">Please enter a valid password</span>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
