<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- <h3 *ngIf="isLoading">Loading</h3> -->
    <form (submit)="onSubmit(registerForm)" #registerForm="ngForm">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email address</mat-label>
        <input
          matNativeControl
          type="email"
          name="email"
          ngModel
          placeholder="Email address"
          #emailInput="ngModel"
          required
          email
          [disabled]="isLoading"
        />

        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <input
          matNativeControl
          type="password"
          name="password"
          ngModel
          placeholder="Password"
          #passwordInput="ngModel"
          required
          minlength="6"
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password</mat-error
        >
      </mat-form-field>
      <mat-card-actions>
        <div>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="submit-button"
          >
            <span *ngIf="!isLoading">Register</span>
            <span *ngIf="isLoading" class="button-spinner">
              <mat-spinner diameter="30"></mat-spinner>
            </span>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
