.active {
  color: #304772;
  text-decoration: underline;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  margin-right: 1rem;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
mat-sidenav-container {
  height: 100%;
  height: calc(100% - 56px);
}
mat-sidenav {
  width: 14rem;
}
