<app-header [inputSidenav]="sideNav"></app-header>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sideNav>
    <mat-nav-list (click)="sideNav.toggle()">
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        mat-list-item
        routerLink="/create"
        *ngIf="isAuthenticated"
        routerLinkActive="active"
        >New Job</a
      >
      <a
        mat-list-item
        routerLink="/auth/login"
        *ngIf="!isAuthenticated"
        routerLinkActive="active"
        >Login</a
      >
      <mat-list-item
        *ngIf="!isAuthenticated"
        (click)="openDialog()"
        style="cursor: pointer"
        routerLinkActive="active"
        >Register</mat-list-item
      >
      <!-- <a routerLink="/auth/register" routerLinkActive="active">Register</a> -->

      <a
        mat-list-item
        (click)="onLogout()"
        class="logout-link"
        *ngIf="isAuthenticated"
        routerLinkActive="active"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
