<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title> Post a New Job </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (submit)="onSaveJob()" *ngIf="!isLoading">
      <mat-form-field appearance="outline" class="form-field">
        <!-- Headline -->
        <mat-label>Job headline</mat-label>
        <input
          matNativeControl
          type="text"
          name="headline"
          formControlName="headline"
          [disabled]="isLoading"
        />
        <mat-error *ngIf="form.get('headline').invalid"
          >error message</mat-error
        >
      </mat-form-field>
      <!-- End Headline -->

      <!-- Summary -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Job description</mat-label>
        <textarea
          matNativeControl
          name="summary"
          cols="30"
          rows="7"
          placeholder="Job summary"
          formControlName="summary"
          [disabled]="isLoading"
        ></textarea>
        <mat-error *ngIf="form.get('summary').invalid">error message</mat-error>
      </mat-form-field>
      <!-- End Summary -->

      <!-- Compensation -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Compensation</mat-label>
        <input
          matNativeControl
          type="text"
          name="compensation"
          placeholder="Job compensation"
          formControlName="compensation"
          [disabled]="isLoading"
        />
        <mat-error *ngIf="form.get('compensation').invalid"
          >error message</mat-error
        >
      </mat-form-field>
      <!-- End Compensation -->

      <!-- Airports -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Airports involved</mat-label>
        <input
          matNativeControl
          type="text"
          name="airports"
          placeholder="Airports"
          formControlName="airports"
          [disabled]="isLoading"
        />
        <mat-error *ngIf="form.get('airports').invalid"
          >error message</mat-error
        >
      </mat-form-field>
      <!-- End Airports -->

      <!-- Image -->
      <!-- TODO: Form tries to submit when button is clicked, only while editing job, not creating -->
      <!-- <mat-card-actions>
        <button mat-raised-button (click)="filePicker.click()">
          Choose Image
        </button>
        <input
          mat-raised-button
          #filePicker
          type="file"
          onclick="this.value=null"
          (change)="onImagePicked($event)"
        />
      </mat-card-actions> -->
      <!-- End Image -->

      <!-- Image Preview -->
      <!-- <mat-card-actions
        class="image-preview"
        *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
      >
        <img [src]="imagePreview" [alt]="form.value.title" />
      </mat-card-actions> -->
      <!-- End Image Preview -->

      <!-- Start date -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Job start date</mat-label>
        <input
          matNativeControl
          name="startDate"
          [matDatepicker]="startDate"
          [disabled]="isLoading"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <!-- End Start date -->

      <!-- End  date -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Job end date</mat-label>
        <input
          matNativeControl
          name="endDate"
          [matDatepicker]="endDate"
          [disabled]="isLoading"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
      <!-- End End date -->

      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="isLoading"
        >
          {{ mode === 'create' ? 'Add New Job' : '' }}
          {{ mode !== 'create' ? 'Save Changes' : '' }}
          {{ isLoading ? '...loading' : '' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
