<h3>Create New Job</h3>
<h3 *ngIf="isLoading">Loading</h3>
<form (submit)="onSaveJob(jobForm)" #jobForm="ngForm" *ngIf="!isLoading">
  <input
    type="text"
    name="title"
    [ngModel]="job?.title"
    required
    minlength="3"
    placeholder="Job title"
    #title="ngModel"
  />
  <span *ngIf="title.invalid">error message</span>
  <br />
  <textarea
    name="content"
    id=""
    cols="30"
    rows="10"
    [ngModel]="job?.content"
    required
    placeholder="Job description"
    #content="ngModel"
  ></textarea>
  <span *ngIf="content.invalid">error message</span>
  <button type="submit">
    {{ mode === 'create' ? 'Create' : 'Save changes' }}
  </button>
</form>
