/* For use in src/lib/core/theming/_palette.scss */
$md-regular: (
    50 : #e5eef2,
    100 : #bfd4e0,
    200 : #95b8cb,
    300 : #6a9bb6,
    400 : #4a85a6,
    500 : #2a7096,
    600 : #25688e,
    700 : #1f5d83,
    800 : #195379,
    900 : #0f4168,
    A100 : #9cd0ff,
    A200 : #69b8ff,
    A400 : #36a0ff,
    A700 : #1d93ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

